body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.site {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.controls {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-size: large;
}

.time_controls, .airport_controls {
    display: flex;
    align-items: stretch;
    font-size: large;
}

.controls button {
    display: block;
    font-size: large;
}

.airport_controls select {
    font-size: large;
}

#map {
    width: 100%;
    height: 100%;
}