#help_content{
    width: 35%;
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    background-color: lightgrey;
    padding: 2%;
    position: absolute;
    top: 0;
    right: 5px;
    border: 1px solid black;
    flex-basis: auto;
}

.help_title {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.help_body {
    text-align: left;
    font-size: medium;
}

.help_image {
    float: right;
    width: 25%;
    height: 25%;
}